/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: #000;
    height: 100vh;
}

.interface {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.interface .text span {
    font-size: 50px;
    font-weight: 600;
    min-width: 280px;
}

/* Define um estilo para um elemento span dentro de um h1 dentro de um elemento com a classe "text" dentro de um elemento com a classe "interface" */
.interface .text h1 span {
    position: relative;
}

/* Cria um efeito de animação para o texto antes do span */
.interface .text h1 span::before {
    content: "";
    color: #ff6347;
    /* Define a cor do texto animado */
    animation: words 20s infinite;
    /* Aplica a animação 'words' ao texto */
}

.interface .text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    /* Define a largura do elemento como a largura do texto mais uma margem */
    height: 100%;
    /* Define a altura do elemento como 100% */
    background-color: #000;
    /* Define a cor de fundo do elemento como preto */
    border-left: 2px solid #ff6347;
    /* Adiciona uma borda esquerda ao elemento com a cor definida */
    right: -8px;
    /* Alinha o elemento à direita com uma margem negativa */
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
    /* Aplica as animações 'cursor' e 'typing' ao elemento */
}

/* Define a animação do cursor */
@keyframes cursor {
    to {
        border-left: 2px solid #000;
        /* Altera a cor da borda esquerda para preto */
    }
}

/* Define a animação das palavras */
@keyframes words {

    0%,
    20% {
        content: "Wesley Caldas";
        /* Define o conteúdo do texto como "Wesley Caldas" nos primeiros 20% da animação */
    }

    /* Define o conteúdo do texto como "Student" nos próximos 20% da animação, e assim por diante */
    21%,
    40% {
        content: "Student";
    }

    41%,
    60% {
        content: "Developer";
    }

    61%,
    80% {
        content: "Front-End";
    }

    81%,
    100% {
        content: none;
        /* Remove o conteúdo do texto nos últimos 20% da animação */
    }
}

/* Define a animação da digitação */
@keyframes typing {

    /* Define os pontos de interrupção onde a largura é 0% */
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    /* Define os pontos de interrupção onde a largura é igual à largura do texto mais a margem */
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

/* Estilo cabeçalho */

.flex {
    display: flex;
}


header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn_contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #ff6347;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn_contato button:hover {
    box-shadow: 0px 0px 8px #ff6347;
}


header .logo button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #ff6347;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .logo button:hover {
    box-shadow: 0px 0px 8px #ff6347;
}


/* Top of site */
section.top_of_site {
    padding: 40px 4%;
    height: 50rem;
    border: #5c5c5c;

}

.top_of_site h1 {
    color: #fff;
    font-size: 50px;
}

.top_of_site h2 {
    color: #fff;
    font-size: 50px;
}

.top_of_site .flex {
    margin-top: 10vw;
    align-items: center;
}

.home-sci {
    bottom: 40px;
    width: 170px;
    display: flex;
    gap: 2vh;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff6347;
    border-radius: 50%;
    font-size: 20px;
    color: #ff6347;
    text-decoration: none;

}


.home-sci a:hover {
    border: 2px solid #ff6347;
    transform: scale(1.05);
}



/* LINGUAGENS */

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        
}

.languages {
    height: 50rem;
}

.languages h1{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 2.5rem;
    
    

}

.languages span{
    color: #ff6347;
    

}

.visible {
    opacity: 1;
    transform: translateY(0);
  }


.card {
    width: 200px;
    height: 300px;
    background-color: rgba(17, 17, 17, 0.274);
    /* Ajuste o último valor para alterar a transparência */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Para alinhar a imagem no centro verticalmente */
    margin-left: 2rem;
    border: 1px solid #ff6347;
    cursor: pointer;
}
.card:hover {
    background-color: rgba(17, 17, 17, 0.274);
    box-shadow: 0px 0px 8px #ff6347;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Para garantir que a imagem mantenha sua proporção */
}


.projects h1{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 5rem;
    
}
.projects{
    margin: 15rem;
    margin-top: 2rem;
    height: 50rem;
}

.projects span{
    color: #ff6347;
    

}

.projects .img_projects img{
height: 300px;
width: 500px;
border-radius: 2rem;



}
.img_projects {
    display: table;



}
.img_projects img {
    display: table-cell;
    float: left;


}
.img_projects img:hover {
    box-shadow: 0px 0px 8px #ff6347;


}
.img_projects p {
    color: #fff;    
    display: table-cell;
    float: left;
    width: 500px;
    margin-left: 5rem;

}

.text_img .btn_cod button{
    padding: 10px 10px;
    font-weight: 600;
    background-color: #ff6347;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.text_img .btn_cod button:hover{
    box-shadow: 0px 0px 8px #ff6347;
}

.about {
    height: 50rem;
}

.text_about {
    margin-top: 50px; /* Margem superior para separar do conteúdo 
anterior */
    color: #fff;
    margin: 10rem;
    padding: 20px; /* Espaçamento interno */
    background-color: rgba(17, 17, 17, 0.274);
    border-radius: 10px; /* Borda arredondada */
    border: 1px solid #ff6347;
}


.about h1 {
    font-size: 40px; /* Tamanho da fonte para o título */
    font-weight: 700; /* Peso da fonte para o título */
    color: #fff; /* Cor do texto */
    margin-bottom: 5rem; /* Margem inferior para separar do texto */
    text-align: center;
}

.about h1 span {
    color: #ff6347; /* Cor do span */
}

.text_about p {
    font-size: 18px; /* Tamanho da fonte para os parágrafos */
    line-height: 1.6; /* Altura da linha */
    margin-bottom: 15px; /* Margem inferior entre os parágrafos */
}



footer {
    background-color: #000000; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 50px 0; /* Espaçamento interno */
    border-top: 1px solid #ff6347;
  }
  
.interface_footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Espaçamento interno horizontal */
  }
  
  
  .copyright {
    text-align: center; /* Alinha o texto ao centro */
    margin-top: 20px; /* Margem superior */
  }
  
  .copyright p {
    font-size: 14px; /* Tamanho da fonte */
  }